<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="icon" href="<%= basePath %>/images/logo.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="<%= basePath %>/css/style.css">
</head>

<body>
    <div class="container">
        <header>
            <a href="<%= basePath %>/" class="logo">
                <img src="<%= basePath %>/images/logo.png" alt="Logo"
                    style="height: 40px; vertical-align: middle; margin-right: 10px;">
                Dulkanggg's Corner
            </a>
            <nav>
                <a href="<%= basePath %>/">Home</a>
                <a href="<%= basePath %>/search.html">Search</a>
                <a href="<%= basePath %>/about">About</a>
                <a href="<%= basePath %>/rss">RSS</a>
            </nav>
        </header>