<%- include('partials/header', { basePath: basePath }) %>

    <article class="post-content">
        <h1 style="color: #e2b714;">
            <%= post.title %>
        </h1>
        <div style="color: var(--accent-color); margin-bottom: 20px;">
            <span>
                <%= post.date %>
            </span>
            <% if (post.tags) { %>
                | Tags:
                <% post.tags.forEach(tag=> { %>
                    <a href="<%= basePath %>/tags/<%= tag %>"
                        style="color: var(--accent-color); text-decoration: underline;">
                        <%= tag %>
                    </a>
                    <% }) %>
                        <% } %>
        </div>

        <div>
            <%- post.htmlContent %>
        </div>
    </article>

    <div style="margin-top: 40px;">
        <a href="<%= basePath %>/">&larr; Back to Home</a>
    </div>

    <%- include('partials/footer') %>